@import url(global.css);

.menu__container {
  background-color: var(--secondary-color);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  display: flex;
}

.menu {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  min-width: 80%;
}

.menu__logo {
  justify-self: flex-start;
  align-self: center;
  transition: all 0.4s ease-in;
}

.menu__logo:hover {
  color: var(--letter-highlight);
  cursor: pointer;
  transform: scale(1.1);
}

.menu__logo a {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.menu__logo h2 {
  font-size: 4rem;
  color: var(--letter-primary);
}

.menu__logo h2 span {
  color: var(--letter-highlight);
}

.menu__search {
  justify-content: center;
  justify-self: flex-start;
}

.menu__search input {
  padding: 0.5rem 14rem 0.5rem 1rem;
  font-size: 2rem;
  color: var(--letter-primary);
  border-radius: 8px;
  background: hsla(240, 9%, 4%, 0.267);
  border: 1px solid hsla(0, 0%, 0%, 0.267);
  font-weight: 200;
  transition: all 0.2s ease;
}

.menu__search input::placeholder {
  color: hsla(60, 100%, 100%, 0.5);
}

.menu__items {
  justify-self: end;
  justify-content: space-evenly;
}

.menu__item {
  text-transform: uppercase;
  font-size: 2.5rem;
  padding-right: 4rem;
  font-weight: 400;
  color: var(--letter-primary);
  transition: color 0.3s;
}

.menu__item:hover {
  color: var(--letter-highlight);
}

/*--------------------RESPOSIVE--------------------*/
